.recording-to-master {}

.recording-to-master__info {
  display: flex;
}

.recording-to-master__master-info {
  max-width: 636px;
  margin-right: 134px;
}

.recording-to-master__master-name {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
}

.recording-to-master__master-photo {}

/* .recording-to-master__price-list {
  margin-top: 50px;
}

.recording-to-master__price-list-item {
  width: 526px;
  color: white;
  border-bottom: 1px solid #FFFFFF;
  list-style-type: none;
}

.recording-to-master__service {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}


.recording-to-master__service-name {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  text-align: right;
  color: #FFFFFF;
}

.recording-to-master__service-price {
  margin-top: 10px;
}

.recording-to-master__service-desc {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 20px;
} */

.recording-to-master__record {}