@import '../../assets/styles/mixins.scss';

.footer {
  @include inter(400, normal);
  height: 300px;
  background: #000000;

  &__flex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    padding-top: 80px;
  }

  &__contacts {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 97px;

    &-title {
      font-weight: 700;
      margin-bottom: 20px;
    }

    &-tel {
      font-weight: 400;
      margin-bottom: 15px;
    }

    &-email {
      font-weight: 400;
    }
  }

  &__support {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    flex: 1 1 76%;

    &-title {
      font-weight: 700;
      margin-bottom: 20px;
    }

    &-text {
      font-weight: 400;
      margin-bottom: 15px;
    }
  }

  &__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    &-email {
      width: 230px;
      height: 40px;
      background: #FFFFFF;
      border-radius: 15px 0px 0px 15px;
      padding-left: 16px;

      &::placeholder {
        font-style: italic;
        color: #F5BFAB;
      }
    }

    &-button {
      font-style: normal;
      color: #FFFFFF;
      width: 95px;
      height: 40px;
      background: #A40123;
      border-radius: 0px 15px 15px 0px;
    }
  }

  &__copyright {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
  }
}