@import '../../assets/styles/mixins.scss';

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__body {
    display: flex;

    margin: 0 auto;

    height: 300px;
    max-width: 1280px;
    overflow: hidden;
  }

  &__line {
    position: relative;
    display: flex;
    margin: 0 auto;
    animation-name: sliderLine;
    animation-duration: 10s;
    // width: 1280px;
  }

  &__img {
    border-radius: 10px;
    width: 400px;
    // max-width: 400px;
    height: 300px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__add-img {
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    margin-right: 40px;
    background: #F5BFAB;

    &-pic {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 135px;
      top: 105px;

      & img {
        width: 68px;
        height: 50px;
        margin-bottom: 15px;
      }

      &-desk {
        @include inter(700, normal);
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #410935;

      }
    }

    &-input {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &__wrapp-button {
    position: absolute;
    left: 107px;
    bottom: 40px;
    z-index: 1;
  }

  &__btn-prev {
    position: absolute;
    background: #410935;
    left: 0px;
    top: 115px;
  }

  &__btn-next {
    position: absolute;
    background: #410935;
    right: 0px;
    top: 115px;
  }
}