@import '../../assets/styles/mixins.scss';

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__body {
    display: flex;

    margin: 0 auto;

    height: 300px;
    max-width: 1280px;
    overflow: hidden;
  }

  &__line {
    position: relative;
    display: flex;
    margin: 0 auto;
    // width: 1280px;
  }

  &__img {
    border-radius: 10px;
    max-width: 400px;
    height: 300px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__btn-prev {
    position: absolute;
    left: 0px;
    top: 115px;
  }

  &__btn-next {
    position: absolute;
    right: 0px;
    top: 115px;
  }
}