@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/colors.scss";

.root-office {
  height: 100%;
  background: #e9e9e9;
  padding: 30px 0 30px 0;

  &__h2 {
    @include inter(400, normal);
    font-size: 20px;
    line-height: 18px;
    color: $black;
    margin-bottom: 15px;
  }

  &__btn {
    border: 1px solid $black;
    border-radius: 2px;
  }

  &__set-role {
    @include inter(400, normal);
    font-size: 14px;
    line-height: 18px;
    color: $black;
    margin-bottom: 30px;

    &-label {
      margin-right: 10px;
    }

    &-input {
      margin-right: 10px;
    }
  }

  &__form-salon {
    &-btn {
      @include inter(400, normal);
      font-size: 14px;
      line-height: 18px;
      color: $black;
    }

    margin-bottom: 30px;
  }

  &__all-office-nav {
    @include inter(400, normal);
    font-size: 14px;
    line-height: 18px;
    color: $black;

    &-item {
      margin-bottom: 10px;
    }

    & label {
      margin-right: 10px;
    }

    & input {
      margin-right: 10px;
    }
  }
}