.main {
  background: #410935;
}

.main__insert {
  position: relative;
  height: 800px;
  background-image: url('./img/woman.jpg');
  margin-top: -100px;
}

.main__insert-title {
  position: absolute;
  width: 508px;
  height: 189px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-transform: uppercase;
  color: #A40123;
  top: 351px;
  right: 269px;

  &>:nth-child(1) {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 200px;
      height: 5px;
      background: #410935;
      border-radius: 5px;
      bottom: -4px;
      left: 1px;
    }

    margin-bottom: 49px;
  }

  &>:nth-child(2) {
    font-size: 30px;
    line-height: 36px;
  }

}

.main__wrapp-services {
  margin-bottom: 60px;
}

.main__h3 {
  position: relative;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 9px;
  margin-bottom: 45px;

  &::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 5px;
    background: #F5BFAB;
    border-radius: 5px;
    bottom: -5px;
  }
}

.main__yandex-map {
  margin-bottom: 132px;
  margin-left: 16px;
}

.main__yandex-map-body {}

.main__yandex-map-img {
  width: 100%;
  height: 100%;
}