@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.main-page {
  @include inter(700, normal);
  background: $darkViolet;

  &__h1 {
    position: relative;
    font-size: 56px;
    line-height: 67px;
    text-transform: uppercase;
    color: #A40123;
    margin-bottom: 49px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 200px;
      height: 5px;
      background: $darkViolet;
      border-radius: 5px;
      bottom: -4px;
      left: 1px;
    }
  }

  &__insert {
    position: relative;
    height: 800px;
    background-image: url('./img/woman.jpg');
    margin-top: -100px;

    &-title {
      position: absolute;
      width: 508px;
      height: 189px;
      font-size: 56px;
      line-height: 67px;
      text-transform: uppercase;
      color: $red;
      top: 352px;
      right: 286px;

      &>p {
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        color: $darkViolet;
      }
    }
  }

  &__services {
    padding-top: 81px;
    background: $darkViolet;

    &-body {
      display: flex;
      flex-direction: column;
    }

    &-desc {
      @include inter(400, normal);
      font-size: 14px;
      line-height: 18px;
      color: $white;
      margin-bottom: 40px;

      &>p:first-child {
        margin-bottom: 15px;
      }
    }

    &-h3 {
      @include inter(400, normal);
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: $beige;
      margin-bottom: 19px;
    }

    &-h2 {
      position: relative;
      @include inter(700, normal);
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 44px;

      &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 5px;
        background: $beige;
        border-radius: 5px;
        bottom: -4px;
        left: 0px;
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 19px;
    }
  }

  &__wrapp-services-card {
    flex: 0 1 441px;
    height: 350px;
    margin-bottom: 40px;
  }

  &__wrapp-select {
    margin-bottom: 60px;
  }

  &__h3 {
    position: relative;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 45px;

    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 5px;
      background: $beige;
      border-radius: 5px;
      bottom: -5px;
    }
  }

  &__yandex-map {
    padding-bottom: 132px;

    &>h4 {
      display: none;
    }
  }
}