// @import url(./assets/styles/zeroing.scss);
@import '../src/assets/styles/zeroing.scss';
@import '../src/assets/styles/colors.scss';

body {
  color: #FFFFFF;
  height: 100%
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;

  &>.main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

header {
  flex: 0 0 auto;
}

footer {
  flex: 0 0 auto;
}