@import url(./assets/zeroing.scss);

body {
  color: #FFFFFF;
}

.App {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

hr {
  opacity: 0.5;
  color: #FFFFFF;
}