* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #111111;
  color: #FFFFFF;
}

.App {
  margin: 0 auto;
  max-width: 1296px;
}

hr {
  opacity: 0.5;
  color: #FFFFFF;
}