.nav-bar {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
}