@import '../../assets/styles/mixins.scss';

.dropdown {
  &__btn {
    background: #410935;

    &>p {
      display: inline-block;
      @include inter(400, normal);
      font-size: 24px;
      line-height: 31px;
      color: #F0EFEF;
      margin-right: 11px;
    }
  }
}