.sign-in {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  width: 226px;
  height: 40px;
  background: #410935;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}