@import '../../assets/styles/mixins.scss';
@import "../../assets/styles/colors.scss";

.header {
  background: rgba(65, 9, 53, 0.7);
  box-sizing: border-box;
  z-index: 1;

  &__flex {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    // overflow: hidden;
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &__wrapp-navigation {
    margin-right: 46px;
    padding-top: 2px;
  }

  &__profile {
    position: relative;
  }

  &__wrapp-profile-list {
    position: absolute;
  }

  &__wrapp-sign-in-modal {
    position: absolute;
    left: calc(50% - 287px);
    top: 25%;
  }
}