@import '../../assets/styles/mixins.scss';

.header {
  background: rgba(65, 9, 53, 0.7);
  box-sizing: border-box;
  z-index: 1;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    overflow: hidden;
  }
}

.header-item {
  display: flex;
  align-items: center;
}

.header__wrapp-navigation {
  margin-right: 46px;
  padding-top: 2px;
}