@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.salon-admine-office {
  position: relative;
  height: 100%;
  background: $darkViolet;
  padding-top: 40px;

  &__flex {
    display: flex;
    flex-direction: column;

    &-salon-id {
      @include inter(400, normal);
      font-size: 14px;
      line-height: 17px;
      color: $beige;
    }

  }

  &__wrapp-salon-card {
    margin-bottom: 30px;
  }

  &__wrapp-carousel {
    margin-bottom: 50px;
  }

  &__wrapp-master-add-card {
    margin-bottom: 50px;
  }

  &__wrapp-master-card {
    margin-bottom: 40px;
  }

  &__wrapp-pagination {
    display: flex;
  }

  &__masters {
    &-title {
      @include inter(700, normal);
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $beige;
      margin-bottom: 50px;
    }
  }

  &__wrapp-form-for-salon {
    position: absolute;
    top: 40px;
    right: calc(50% - 450px);
  }
}