@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.salon-admine-office {
  position: relative;
  height: 100%;
  background: $darkViolet;
  padding-top: 40px;

  &__flex {
    display: flex;
    flex-direction: column;

  }

  &__wrapp-salon-card {
    margin-bottom: 30px;
  }

  &__wrapp-carousel {
    margin-bottom: 50px;
  }

  &__wrapp-master-add-card {
    margin-bottom: 50px;
  }

  &__masters {
    &-title {
      @include inter(700, normal);
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $beige;
      margin-bottom: 50px;
    }
  }

  &__editing-salon {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 47px 50px;
    position: absolute;
    width: 900px;
    height: auto;
    background: $white;
    z-index: 1;

    &-close {
      position: absolute;
      width: 20px;
      height: 20px;
      background: $darkViolet;
      top: 10px;
      right: 10px;
    }

    &-wrapp-button {
      margin: 0 auto;
    }
  }

  &__editing-salon-item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    & label {
      display: block;
      width: 156px;
      @include inter(700, normal);
      font-size: 14px;
      line-height: 17px;
      color: $darkViolet;
    }

    & input {
      @include inter(400, normal);
      font-size: 14px;
      line-height: 17px;
      color: $darkViolet;

      flex: 1 1 auto;
      border: 1px solid $darkViolet;
      border-radius: 5px;
    }
  }

  &__editing-salon-name-input {
    @include inter(700, normal);
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $darkViolet;
  }

  &__wrapp-drpdn-add-salon {
    width: 100%;
  }
}