@import '../../assets/styles/mixins.scss';

.button {
  width: 184px;
  height: 40px;
  @include inter(700, normal);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #F5BFAB;

  border-radius: 10px;
  cursor: pointer;
}