@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.masters-page {
  padding-top: 40px;
  height: 100%;
  background: $darkViolet;

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__h1 {
    @include inter(400, normal);
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $beige;
    margin-bottom: 40px;
  }

  &__search-dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 163px;

    &-h2 {
      display: none;
    }
  }

  &__wrapp-dropdown-select {
    width: 440px;
  }

  &__masters {

    &-h2 {
      display: none;
    }
  }

  &__list {
    margin-bottom: 181px;

    &>li:last-child {
      margin-bottom: 0px;
    }
  }

  &__wrapp-master-card {
    margin-bottom: 40px;
  }

  &__wrapp-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
}