@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/colors.scss';

.master-add-card {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  padding: 30px 40px 20px 40px;
  background: $beige;

  &__title {
    @include inter(700, normal);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $darkViolet;
    margin-bottom: 30px;
  }

  &__flex {
    display: flex;
  }

  &__img-upload {
    position: relative;
    width: 200px;
    height: 247px;
    border-radius: 10px;
    background: #F0EFEF;
    margin-right: 20px;

    &-pic {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 35px;
      top: 82px;

      &-pic {
        width: 68px;
        height: 50px;
        margin-bottom: 15px;
      }
    }

    &-desc {
      @include inter(700, normal);
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: $darkViolet;

    }

    &-input {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    flex: 1 1 auto;

    &-item {
      margin-bottom: 25px;
    }

    &-id {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: $darkViolet;
      }

      &-input {
        @include inter(700, normal);
        font-size: 24px;
        line-height: 29px;
        color: $darkViolet;
        flex: 1 1 auto;
        background: $beige;
        border: 1px solid $darkViolet;
        border-radius: 5px;

        &::placeholder {
          color: $black;
          @include inter(400, normal);
        }
      }
    }

    &-profession {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: $darkViolet;
      }

      &-input {
        @include inter(400, normal);
        font-size: 14px;
        line-height: 18px;
        color: $darkViolet;
        flex: 1 1 auto;
        background: $beige;
        border: 1px solid $darkViolet;
        border-radius: 5px;
      }
    }

    &-working-time {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: $darkViolet;
      }

      &-input {
        @include inter(400, normal);
        font-size: 14px;
        line-height: 18px;
        color: $darkViolet;
        flex: 1 1 auto;
        background: $beige;
        border: 1px solid $darkViolet;
        border-radius: 5px;
      }

    }

    &-working-start-input {
      @include inter(400, normal);
      font-size: 14px;
      line-height: 18px;
      color: $darkViolet;
      flex: 1 1 auto;
      background: $beige;
      border: 1px solid $darkViolet;
      border-radius: 5px;
    }

    &-working-end-input {
      @include inter(400, normal);
      font-size: 14px;
      line-height: 18px;
      color: $darkViolet;
      flex: 1 1 auto;
      background: $beige;
      border: 1px solid $darkViolet;
      border-radius: 5px;
    }

    &-desk {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: $darkViolet;
      }

      &-textarea {
        max-width: 912px;
        min-height: 90px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 18px;
        color: $darkViolet;
        flex: 1 1 auto;
        background: $beige;
        border: 1px solid $darkViolet;
        border-radius: 5px;
      }
    }

    &-services {
      display: flex;
      align-items: flex-start;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: $darkViolet;
      }

      &-list {
        @include inter(400, normal);
        font-size: 14px;
        line-height: 18px;
        color: $darkViolet;
        display: flex;
        flex-direction: column;

        & input {
          margin-right: 12px;
        }
      }
    }
  }

  &__wrapp-button {
    margin: 0 auto;
  }
}