@import '../../assets/styles/mixins.scss';

.master-add-card {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  padding: 30px 40px 20px 40px;
  background: #F5BFAB;

  &__title {
    @include inter(700, normal);
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #410935;
    margin-bottom: 30px;
  }

  &__flex {
    display: flex;
  }

  &__img-upload {
    position: relative;
    width: 200px;
    height: 247px;
    border-radius: 10px;
    background: #F0EFEF;
    margin-right: 20px;

    &-pic {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 35px;
      top: 82px;

      &-pic {
        width: 68px;
        height: 50px;
        margin-bottom: 15px;
      }
    }

    &-desc {
      @include inter(700, normal);
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #410935;

    }

    &-input {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &__info {
    flex: 1 1 auto;

    &-item {
      margin-bottom: 25px;
    }

    &-name {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: #410935;
      }

      &-input {
        @include inter(700, normal);
        font-size: 24px;
        line-height: 29px;
        color: #410935;
        flex: 1 1 auto;
        background: #F5BFAB;
        border: 1px solid #410935;
        border-radius: 5px;
      }
    }

    &-surname {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: #410935;
      }

      &-input {
        @include inter(400, normal);
        font-size: 14px;
        line-height: 18px;
        color: #410935;
        flex: 1 1 auto;
        background: #F5BFAB;
        border: 1px solid #410935;
        border-radius: 5px;
      }
    }

    &-desk {
      display: flex;
      align-items: flex-end;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: #410935;
      }

      &-textarea {
        max-width: 912px;
        min-height: 90px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 18px;
        color: #410935;
        flex: 1 1 auto;
        background: #F5BFAB;
        border: 1px solid #410935;
        border-radius: 5px;
      }
    }

    &-services {
      display: flex;
      align-items: flex-start;

      &-label {
        width: 148px;
        @include inter(400, normal);
        font-size: 14px;
        line-height: 17px;
        color: #410935;
      }

      &-flex {
        display: flex;
        @include inter(400, normal);

      }

      &-services {
        display: flex;
        flex-direction: column;
        width: 438px;
        margin-right: 30px;
      }

      &-service {
        margin-bottom: 20px;
        height: 30px;
        border: 1px solid #410935;
        border-radius: 5px;
        background: #F5BFAB;
      }

      &-prices {
        display: flex;

        &-title {
          @include inter(400, normal);
          font-size: 14px;
          line-height: 17px;
          color: #410935;
          margin-right: 30px;
        }

        &-prices {
          display: flex;
          flex-direction: column;
          width: 333px;
        }

        &-input {
          margin-bottom: 20px;
          height: 30px;
          border: 1px solid #410935;
          border-radius: 5px;
          background: #F5BFAB;
        }
      }
    }

  }

  &__wrapp-button {
    margin: 0 auto;
  }
}